<%- include('menu') %>

<%= JSON.stringify(slug) %>
<% let musicians = slug.musicians; %>
<% let instruments = slug.instruments; %>

<h1>combine musicians & instruments</h1>

<% if(instruments && musicians) { %>

<form action='/combine-mi' method='post'>

  <div class='lft'>
    <p>musicians</p>
    <% musicians.forEach((m) => { %>
    <div>
      <input type='radio' id='musician' name='musician' value='<%=`${m.musician_id}`%>'>
      <label for='musician'><%= m.name %></label>
    </div>
    <% }); %>
  </div>

  <div>
    <p>instruments</p>
    <% instruments.forEach((i) => { %>
    <div>
      <input type='checkbox' id='coding' name='instrument' value='<%=`${i.instrument_id}`%>'>
      <label for='coding'><%= i.name %>, <%= i.type %>, $<%= i.price %></label>
    </div>
    <% }); %>
  </div>

  <br>
  <br>
  <br>

  <input type='submit' value='submit'>
</form>
<% } else { %>
<p>there is not enough data to combine musicans and instruments. Please add instruments and / or musicians</p>
<% } %>

<style>
  div.lft {
  float: left;
  margin-right: 10em;
  }

</style>
