<%- include('menu') %>

<%= JSON.stringify(slug) %>
<% let info = slug.info %>
<% let itypes = slug.itypes %>

<form action='<%=`/instruments/${info.instrument_id}` %>' method='post'>
  <p>add a musican; all fields required</p>
  <div>
    <label for='name'>name</label>
    <input type='text' name='name' id='name' value='<%=`${info.name}`%>' required >

    <label for='type'>type</label>
    <select name='type' id='mtype' >
      <% itypes.forEach((t) => { %>
      <% if(t.instrument_type == info.instrument_type) {%>
      <option value='<%= `${t.instrument_type}` %>' selected><%= `${t.instrument_type}` %></option>
      <% } else { %>
      <option value='<%= `${t.instrument_type}` %>'><%= `${t.instrument_type}` %></option>
      <% } %>
      <% }); %>
    </select>

    <label for='price'>price</label>
    <input type='number' name='price' id='price' min='10'
           value='<%=`${info.price}`%>' required >

    <input type='submit' value='update' />

  </div>
</form>

<!-- other -->
