<%- include('menu') %>

<%= JSON.stringify(slug) %>
<% let instruments = slug.instruments; %>
<% let stats = slug.stats; %>
<% let itypes = slug.itypes; %>

<h1>instruments</h1>

<form action='/instruments' method='post'>
  <p>add an instrument; all fields required</p>
  <div>
    <label for='name'>name</label>
    <input type='text' name='name' id='name' required >

    <label for='type'>type</label>
    <select name='type' id='type' required>
      <% itypes.forEach((i) => { %>
      <option value='<%= `${i.instrument_type}` %>'><%= i.instrument_type %></option>
      <% }); %>
    </select>

    <label for='price'>price</label>
    <input type='number' name='price' id='price' min='10' required>

    <input type='submit' value='add' />
  </div>
</form>

<p>musicians</p>

<div class='lft'>
  <table>
    <thead>
      <tr>
        <th>row #</th>
        <th>name</th>
        <th>type</th>
        <th>price</th>
        <th>running total</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let ttl = 0; %>
      <% let rown = 1; %>
      <% instruments.forEach((m) => { %>
      <form action='<%= `/instruments/delete/${m.instrument_id}` %>' method='post'>
        <tr>
          <td><%= rown++ %></td>
          <td><%= m.name %></td>
          <td><%= m.type %></td>
          <td>$<%= m.price %></td>
          <td>$<%= ttl+=m.price %></td>
          <td><a href="<%= `/instruments/${m.instrument_id}` %>">edit</a></td>
          <td><input type='submit' value='delete' />
        </tr>
      </form>
      <% }); %>
    </tbody>
  </table>
</div>


<div>
  <p><b>total</b>: <%= stats.ttl %>
  <p><b>avg</b>: <%= stats.avg %>
  <p><b>Most Expensive</b>: <%= stats.max %>
  <p><b>Least Expensive</b>: <%= stats.min %>
</div>


<style>
  table {
  border-collapse: collapse;
  }

  td, th {
  border: 1px dotted gray;
  padding: 0.5rem;
  text-align: left;
  }

  div.lft {
  float: left;
  margin-right: 10em;
  }


</style>
